html {
  font-family: -apple-system, Roboto, Ubuntu, Tahoma, sans-serif;
  font-size: 1.25rem;
  padding: 2em;
  display: grid;
  justify-content: center;
}

body {
  width: 100%;
  max-width: 40em;
  margin: 0;
  display: grid;
  place-content: center;
}

@media (prefers-color-scheme: dark) {
  html,
  textarea {
    background: #000d;
    color: #eee;
  }

  a {
    color: #669df5;
  }

  a:visited {
    color: #af73d5;
  }
}

body > a {
  text-align: center;
}

.error {
  background: rgba(255, 0, 0, 0.2);
}

.header {
  overflow: hidden;
}

.output-wrapper {
  overflow: scroll;
}

textarea {
  min-width: calc(100%);
  resize: none;
  box-sizing: border-box;
  font-family: monospace;
}
